{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
{% if object == request.user %}
<!-- Action buttons -->

    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
<!-- End Action buttons -->
{% endif %}
    <a class="btn btn-primary" href="{% url 'users:apis' object.username %}" role="button">My APIs</a>
    </div>
  </div>

</div>
{% endblock content %}
